<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Siz Scheduler</title>
</head>

<body>
  {{#if error}} Something went wrong. We couldn't schedule your reblog. Try clicking the link again : {{/if}}
  <a href="{{link}}">{{link}}</a>
</body>

</html>
